.second-container{
  display: flex;
  justify-content: space-around;

}

.display{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  color: white
}

.labels{
  color: wheat;
  margin  : 0
}